<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zinsoft.faas.dao.mapper.UserManureMapper">
    <update id="delete" parameterType="zinsoft.faas.dto.UserManureDto">
        UPDATE tf_user_manure
           SET update_dtm = SYSDATE,
               status_cd = 'D'
         WHERE user_manure_seq = #{userManureSeq}
           AND user_id = #{userId}
    </update>
</mapper>