<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zinsoft.faas.dao.mapper.UserChemicalMapper">
    <resultMap id="BaseResultMap" type="zinsoft.faas.dto.UserChemicalDto">
        <id column="USER_CHEMICAL_SEQ" jdbcType="NUMERIC" property="userChemicalSeq" />
        <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
        <result column="REG_DTM" jdbcType="DATE" property="regDtm" />
        <result column="UPDATE_DTM" jdbcType="DATE" property="updateDtm" />
        <result column="STATUS_CD" jdbcType="CHAR" property="statusCd" />
        <result column="CHEMICAL_NM" jdbcType="VARCHAR" property="chemicalNm" />
        <result column="MAKER_NM" jdbcType="VARCHAR" property="makerNm" />
        <result column="CHEMICAL_T_CD" jdbcType="CHAR" property="chemicalTCd" />
         <result column="CHEMICAL_T_CD_NM" jdbcType="VARCHAR" property="chemicalTCdNm" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    </resultMap>
  
    <insert id="insert" parameterType="zinsoft.faas.dto.UserChemicalDto">
        <selectKey resultType="Long" keyProperty="userChemicalSeq" order="BEFORE">
            SELECT seq_user_chemical_seq.NEXTVAL FROM DUAL
        </selectKey>
            INSERT INTO tf_user_chemical
                        (user_chemical_seq,
                         user_id,
                         reg_dtm,
                         update_dtm,
                         status_cd,
                         chemical_nm,
                         maker_nm,
                         chemical_t_cd,
                         remark)
            VALUES      (#{userChemicalSeq},
                         #{userId},
                         SYSDATE,
                         SYSDATE,
                         'N',
                         #{chemicalNm, jdbcType=VARCHAR},
                         #{makerNm, jdbcType=VARCHAR},
                         #{chemicalTCd, jdbcType=CHAR},
                         #{remark, jdbcType=VARCHAR})
    </insert>
    
    <select id="get" parameterType="zinsoft.faas.dto.UserChemicalDto" resultMap="BaseResultMap">
        SELECT a.user_chemical_seq,
               a.user_id,
               a.reg_dtm,
               a.update_dtm,
               a.status_cd,
               a.chemical_nm,
               a.maker_nm,
               a.chemical_t_cd,
               (SELECT z.code_nm
                  FROM tf_code z
                 WHERE z.code_id = 'CHEMICAL_T_CD' AND z.code_val = a.chemical_t_cd) 
                   chemical_t_cd_nm,
               a.remark
          FROM tf_user_chemical a
         WHERE     a.status_cd = 'N'
               AND a.user_id = #{userId}
               AND a.user_chemical_seq = #{userChemicalSeq}
    </select>
    
    <select id="list" parameterType="Map" resultMap="BaseResultMap">
        SELECT a.user_chemical_seq,
               a.user_id,
               a.reg_dtm,
               a.update_dtm,
               a.status_cd,
               a.chemical_nm,
               a.maker_nm,
               a.chemical_t_cd,
               (SELECT z.code_nm
                  FROM tf_code z
                 WHERE z.code_id = 'CHEMICAL_T_CD' AND z.code_val = a.chemical_t_cd) 
                   chemical_t_cd_nm,
               a.remark
          FROM tf_user_chemical a, vf_user_info b               
         WHERE      a.status_cd = 'N'
                AND a.user_id = b.user_id
           <if test="userId != null and userId != ''">
               AND a.user_id = #{userId}
           </if>
           <if test="keyword != null and keyword != ''">
               <if test='field == "userNm"'>
                   AND b.user_nm LIKE '%' || #{keyword} || '%'
               </if>
               <if test='field == "userId"'>
                   AND a.user_id LIKE '%' || #{keyword} || '%'
               </if>
               <if test='field == "chemicalNm"'>
                   AND a.chemical_nm LIKE '%' || #{keyword} || '%'
               </if>
               <if test='field == "makerNm"'>
	               AND a.maker_nm LIKE '%' || #{keyword} || '%'
	           </if>
           </if>
      ORDER BY
          <choose>
              <when test="orderBy != null and orderBy == 'ASC'">
                  a.user_chemical_seq
              </when>
              <otherwise>
                  a.user_chemical_seq DESC
              </otherwise>
          </choose>
    </select>
    
    <select id="page" parameterType="PagingParam" resultMap="BaseResultMap">
        SELECT *
          FROM (SELECT ROWNUM AS RNUM, z.*
                  FROM (SELECT a.user_chemical_seq,
                               a.user_id,
                               a.reg_dtm,
                               a.update_dtm,
                               a.status_cd,
                               a.chemical_nm,
                               a.maker_nm,
                               a.chemical_t_cd,
                               (SELECT z.code_nm
                                  FROM tf_code z
                                 WHERE z.code_id = 'CHEMICAL_T_CD' AND z.code_val = a.chemical_t_cd) 
                                   chemical_t_cd_nm,
                               a.remark
                          FROM tf_user_chemical a, vf_user_info b 
                         WHERE     a.status_cd = 'N'
                               AND a.user_id = b.user_id
                       <if test="cond.userId != null and cond.userId != ''">
                           AND a.user_id = #{cond.userId}
                       </if>
                       <if test="cond.keyword != null and cond.keyword != ''">
                           <if test='cond.field == "userNm"'>
                               AND b.user_nm LIKE '%' || #{cond.keyword} || '%'
                           </if>
                           <if test='cond.field == "userId"'>
                               AND a.user_id LIKE '%' || #{cond.keyword} || '%'
                           </if>
                           <if test='cond.field == "chemicalNm"'>
                               AND a.chemical_nm LIKE '%' || #{cond.keyword} || '%'
                           </if>
                           <if test='cond.field == "makerNm"'>
                               AND a.maker_nm LIKE '%' || #{cond.keyword} || '%'
                           </if>
                       </if>
                      ORDER BY
                          <choose>
                              <when test="cond.orderBy != null and cond.orderBy == 'ASC'">
                                  a.user_chemical_seq
                              </when>
                              <otherwise>
                                  a.user_chemical_seq DESC
                              </otherwise>
                          </choose>) z
        <![CDATA[
                 WHERE ROWNUM <= (#{start} + #{limit}))
         WHERE RNUM > #{start}
        ]]>
    </select>
    
    <select id="count" parameterType="PagingParam" resultType="int">
        SELECT COUNT(*)
          FROM tf_user_chemical a, vf_user_info b
         WHERE     a.status_cd = 'N'
               AND a.user_id = b.user_id
           <if test="cond.userId != null and cond.userId != ''">
               AND a.user_id = #{cond.userId}
           </if>
           <if test="cond.keyword != null and cond.keyword != ''">
               <if test='cond.field == "userNm"'>
                   AND b.user_nm LIKE '%' || #{cond.keyword} || '%'
               </if>
               <if test='cond.field == "userId"'>
                   AND a.user_id LIKE '%' || #{cond.keyword} || '%'
               </if>
               <if test='cond.field == "chemicalNm"'>
                   AND a.chemical_nm LIKE '%' || #{cond.keyword} || '%'
               </if>
               <if test='cond.field == "makerNm"'>
                   AND a.maker_nm LIKE '%' || #{cond.keyword} || '%'
               </if>
           </if>
    </select>
    
    <update id="update" parameterType="zinsoft.faas.dto.UserChemicalDto">
        UPDATE tf_user_chemical
           SET update_dtm = SYSDATE,
               chemical_nm = #{chemicalNm, jdbcType=VARCHAR},
               maker_nm = #{makerNm, jdbcType=VARCHAR},
               chemical_t_cd = #{chemicalTCd, jdbcType=CHAR},
               remark = #{remark, jdbcType=VARCHAR}
         WHERE user_chemical_seq = #{userChemicalSeq}
           AND user_id = #{userId}
    </update>
    
    <update id="delete" parameterType="zinsoft.faas.dto.UserChemicalDto">
        UPDATE tf_user_chemical
           SET update_dtm = SYSDATE,
               status_cd = 'D'
         WHERE user_chemical_seq = #{userChemicalSeq}
           AND user_id = #{userId}
    </update>

    <update id="deleteByUserId" parameterType="String">
        UPDATE tf_user_chemical
           SET update_dtm = SYSDATE,
               status_cd = 'D'
         WHERE user_id = #{userId}
    </update>
    
</mapper>